* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

li {
  list-style: none;
}

.answer-choice {
  display: flex;
  align-items: center;
  gap: 10px;
}

.answer-choice label img {
  width: 300px;
}
